<%= form_for(:session, url: sessions_path) do |f| %>
  <%= f.text_field :email, placeholder: 'UserName' %>
  <%= f.password_field :password, placeholder: 'Password' %>
  <%= f.submit "Sign in", class: "button" %>
<% end %>
<p class="help">まめぶろは初めて? <%= link_to "いますぐブラザーになる!", signup_path %></p>
