- if signed_in?
  = render 'shared/entry_form'
  %div#content{data: {max: {page: @entries.num_pages}}}
    %article#entries
      - @entries.each do |entry|
        %section.entry
          %h1.entry-title= link_to entry.title, entry
          %div.entry-content
            = sanitize entry.content
            - if entry.bean.count > 0
              = link_to entry, class: 'beans-count' do
                = entry.bean.count
  = paginate @entries
- else
  %section
    %p.help ブラザーへの最新ブラザー情報はこちら
    :erb
      <a href="https://twitter.com/mameblo" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@mamebloさんをフォロー</a>
    %script !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs")
