<% unless signed_in? %>
<div id="service">
  <a href="#signup" class="button yellow">Join "mameblog"</a>
  <a href="#signin" class="button blue">Sign in</a>
</div>
<% end %>
<div id="content">
  <% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <header>
    <hgroup>
      <h1>mameblog</h1>
    </hgroup>
    <% if signed_in? %>
    <nav class="responsive px796over">
      <a href="#" class="button blue" target="_blank">Your post</a>
      <span class="button gray tool">Tool</span>
      <div>
      	<a href="#settings" class="button green">Settings</a>
      	<%= link_to "Sign out", signout_path, method: "delete", class: "button red" %>
      </div>
    </nav>
    <nav class="responsive px796under" target="_blank">
      <a href="#edit" class="button blue">Your post</a>
      <a href="#settings" class="button green">Settings</a>
      <%= link_to "Sign out", signout_path, method: "delete", class: "button red" %>
    </nav>
    <% end %>
  </header>
  <div id="greenboard">
    <% if signed_in? %>
    <nav>
      <a href="#edit" class="button yellow big">Write New Entry</a>
    </nav>
    <% end %>

    <%= render 'shared/entry_all' %> 
    
    <article>
      <h3>entry.title</h3>
      <p>entry.content</p>
      <time pubdate="">entry.created_at</time>
      <aside>
  	<p class="userId">entry.user_id</p>
  	<p class="admin">
  	  <a class="button yellow">Edit</a>
  	  <a class="button red">Delete</a>
  	</p>
  	<p class="permalink"><a href="#" class="button blue" target="_blank">Read more</a></p>
      </aside>
    </article>
  </div>
</div>
<footer>
  <p>&copy;&nbsp;mameblog&nbsp;&copy;</p>
</footer>

<% if signed_in? %>
<div id="edit" class="blackboard edit">
  <%= render 'shared/entry_edit' %>
</div>
<% end %>
<% unless signed_in? %>

<div id="signup" class="blackboard signup">
  <%= render 'shared/new_user' %>
</div>  
<div id="signin" class="blackboard signin">
  <%= render 'shared/signin_user' %>
</div>
<div class="message success welcome">
  <p><b>!!! Congratulations !!!</b><br>!!!!!!!!!! Welcome to "mameblog" !!!!!!!!!!<br><a href="#" class="button red">OK</a></p>
</div>
<% end %>
