- provide(:title, "さいんいん")
%div.session
  %div.session-wrapper
    %div.session-content.wow.flash{data:{wow:{iteration: '3', duration: '0.15s'}}}
      = render 'shared/session_header'
      = form_for(:session, url: sessions_path) do |f|
        = f.text_field :name, class: 'input input-text', placeholder: 'BrotherName'
        %div.password-field-wrapper
          = link_to new_password_reset_path, class: 'icon password-forget', tabindex: '-1' do
            &#59140;
          = f.password_field :password, class: 'input input-text', placeholder: 'Password'
        = f.submit "兄弟元気かな", class: "button button-horizontal button-primary"
      %p.helpUp
        まめぶろははじめて?<br>
        = link_to "いますぐブラザーになろうぜ!", signup_path
