<% provide(:title, "Sign in") %>
<h1>さいんいん</h1>

<div class="row">
  <div class="span6 offset3">
  <%= form_for(:session, url: sessions_path) do |f| %>

  <%= f.text_field :name, placeholder: "Name" %>

  <%= f.password_field :password, placeholder: "Password" %>

  <%= f.submit "さいんいんする！！", class: "blue" %>
  <% end %>

  <p>え、まだサインアップしてないの???<%= link_to "サインアップはこちら", signup_path %></p>
  </div>
</div>
