<% provide(:title, "Sign in") %>
<h1>サインイン</h1>
<div class="row">
  <div class="span6 offset3">
  <%= form_for(:session, url: sessions_path) do |f| %>

  <%= f.text_field :name, placeholder: "Name" %>

  <%= f.password_field :password, placeholder: "Password" %>

  <%= f.submit "サインイン", class: "blue" %>
  <% end %>

  <p>New user? <%= link_to "サインアップ", signup_path %></p>
  </div>
</div>
