%h1 パスワード再設定

= form_for @brother, url: password_reset_path(params[:id]) do |f|
  - if @brother.errors.any?
    %div.error_messages
      %h2 Form is invalid
      %ul
    - for message in @brother.errors.full_messages
      %li
      = message
    %div.field
      = f.label :password
      = f.password_field :password
    %div.field
      = f.label :password_confirmation
      = f.password_field :password_confirmation
    %div.actions
      = f.submit "パスワード再設定する"
