%section.entry
  %h1.entry-title= link_to @entry.title
  %div.entry-content
    = sanitize @entry.content
- if signed_in?
  = form_tag entry_beans_path(@entry), remote: true, class: 'entry-beans', method: 'post', name: 'beans_name' do
    %span.bean-throw 投
    - @beans.each do |bean|
      %span 豆
%div.entry-footer
  %time.time
    = link_to time_ago_in_words(@entry.created_at) + '前'
  %div.control
    - if current_brother?(@entry.brother)
      %span.edit
        = link_to "Edit", edit_entry_path(@entry), title: '編集する', class: 'lsf-icon', title: 'edit'
      %span.delete
        = link_to "Delete", @entry, method: :delete, data: { confirm: "消えちゃうよ?" }, class: 'lsf-icon', title: 'delete'
    - else
      %a{href: "/brothers/#{@entry.brother.name}"}
        = @entry.brother.name
