%section.entry{data: {beans: {count: @beans.count}}}
  %h1.entry-title= link_to @entry.title
  %div.entry-content
    = sanitize convert_bro(@entry.content)
    - if signed_in? && !current_brother?(@entry.brother)
      = form_tag entry_beans_path(@entry), remote: true, class: 'entry-beans is_throwable clearfix', method: 'post', name: 'beans_name' do
        %span.beans-count<>
          = @beans.count
    - elsif 0 < @entry.beans.count
      %div.entry-beans.clearfix
        %span.beans-count<>
          = @beans.count
%div.entry-footer
  %time.time
    = link_to time_ago_in_words(@entry.created_at) + '前'
  %div.control
    - if current_brother?(@entry.brother)
      %span.edit
        = link_to edit_entry_path(@entry), title: '編集する' do
          %i.icon<>
            &#9998;
          %span<>
            Edit
      %span.delete
        = link_to @entry, method: :delete, data: { confirm: "消えちゃうよ?" } do
          %i.icon<>
            &#59177;
          %span<>
            Delete
    - else
      = @entry.brother.name[0,1].upcase + '.'
