<% provide(:title, "Edit user") %>
<h1>name email Up date (utf-8error ga deru)</h1>

<div class="">
  <div class="">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages' ,object: f.object%>

    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "brother!!!", class: "btn btn-large btn-primary" %>
    <% end %>

  </div>
</div>
