<h1>新規登録</h1>
<div id="">
  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages' %>
  <p class=""></p>
  <%= f.label :name %>
  <%= f.text_field :name, placeholder: "英数字で入力してください!" %>
  <%= f.label :email %>
  <%= f.text_field :email, placeholder: "英数字で6文字以上です!" %>
  <%= f.label :password, "Password" %>
  <%= f.password_field :password, placeholder: "英数字で6文字以上です!" %>
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation, placeholder: "パスワードもう一回教えてくれる?" %>
  <%= f.submit "Join \"mameblog\"", class: "yellow" %>
  <% end %>
</div>
