<%= form_for(@user) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<p class="help">
  ブラザーに仲間入りしよう!!!<br />
  まずは、まめぶろでの名前を決めてくれよ。<br />
  <span>
    英数字で入力してください!
  </span>
</p>
  <%= f.text_field :name, placeholder: 'UserName' %>
<p class="help">
  次にお前のメアドを教えてくれよ。<br />
  <span>
    英数字で6文字以上です!<br />
    いまのところ別にメールとかしません!
  </span>
</p>
  <%= f.text_field :email, placeholder: 'MailAddress' %>
<p class="help">
  パスワードはどうする?<br />
  <span>
    英数字で6文字以上です!
  </span>
</p>
  <%= f.password_field :password, placeholder: 'Password' %>
<p class="help">
  パスワードもう一回教えてくれる?
</p>
  <%= f.password_field :password_confirmation, placeholder: 'Confirmation' %>
<p class="help">
  ブラザーになるか?
</p>
  <%= f.submit 'ブラザーになる!! (無料)', class: 'yellow' %>
  <% end %>
</div>
