<%= provide(:title, @title) %>
<p class="help">
  <%= render 'shared/stats' %><br />
  <b class="username"><%= link_to @user.name, @user %></b>уБо<%= @title %>
</p>
<% if @users.any? %>
<ul class="users">
  <%= render @users %>
</ul>
<%= will_paginate %>
<% end %>