<% provide(:title, @user.name) %>
<p class="help">
  <%= render 'shared/stats' %><br />
  <b class="username"><%= @user.name %></b>の<%= @user.entries.count %>つの記事<br />
  <%= render 'follow_form' if signed_in? %>
</p>
<% if @user.entries.any? %>
<%= render @entries %>
<%= will_paginate @entries %>
<% end %>