<% provide(:title, @user.name) %>
<aside>
  <h1><%= @user.name %></h1>
  <section>
    <%= render 'shared/stats' %>
    <p><%= @user.entries.count %>entries</p>
  </section>
  <%= render 'follow_form' if signed_in? %>
</aside>
<% if @user.entries.any? %>
<div class="entries">
  <%= render @entries %>
</div>
<%= will_paginate @entries %>
<% end %>