<% provide(:title, @user.name) %>
<aside>
  <h1><%= @user.name %></h1>
  <div>
    <%= render 'shared/stats' %>
    <p><%= @user.entries.count %>entries</p>
    <%= render 'follow_form' if signed_in? %>
  </div>
</aside>
<% if @user.entries.any? %>
<section>
  <%= render @entries %>
</div>
<%= will_paginate @entries %>
<% end %>