<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
  </aside>

  <div class="span8">
    <%= render 'follow_form' if signed_in? %>
    <% if @user.entries.any? %>
    <h3>Entries (<%= @user.entries.count %>)</h3>
    <ol class="entries">
      <%= render @entries %>
    </ol>
    <%= will_paginate @entries %>
    <% end %>
  </div>
</div>
