<% @entries.each do |entry| %>
<article>
  <h3><%= entry.title %></h3>
  <p><%= entry.content %></p>
  <p><%= entry.user_id %></p>
  <p><%= link_to 'Show', entry %></p>
  <time pubdate=""><%= entry.created_at %></time>
</article>
<% end %>
