<%= form_for(@entry) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.text_area :title, placeholder: "たいとる" %>
  <%= f.text_area :content, placeholder: "記事を書くところ" %>
</div>
<%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>
