%div#content{data: {max: {page: @entries.total_pages}}}
  %article#entries.autopager-content
    - @entries.each do |entry|
      %section.entry.autopager-item{data: {beans: {count: entry.beans.count}}}
        %h1.entry-title= link_to entry.title, entry
        %div.entry-content
          = sanitize_markdown convert_bro(entry.content_as_markdown)
          - if signed_in? && !current_brother?(entry.brother)
            = form_tag entry_beans_path(entry), remote: true, class: 'entry-beans is_throwable', method: 'post', name: 'beans_name' do
              %span.beans-count<>
                = entry.beans.count
          - elsif 0 < entry.beans.count
            %div.entry-beans
              %span.beans-count<>
                = entry.beans.count
  .page-load-status
    .infinite-scroll-request
      = image_tag 'loading.gif', alt: 'Loading...'
= paginate @entries
