<li id="<%= feed_item.id %>">
<p>koko ni gazou wo dashi tai</p>
  <span class="user">
    <%= link_to feed_item.user.name, feed_item.user %>
  </span>
  <span class="content"><%= feed_item.content %></span>
  <span class="timestamp">
    nikki wo kaitanoha <%= time_ago_in_words(feed_item.created_at) %>mae dayo
  </span>
  <% if current_user?(feed_item.user) %>
  <%= link_to "delete", feed_item, method: :delete,
      confirm: "confirm",
      title: feed_item.content %>
  <% end %>
</li>
