%div.profile
  %h1.profile-name
    = @brother.name[0,1].upcase + '.'
  %ul.stats
    %li.stats-list
      %a.stats-content{href: "/brothers/#{@brother.name}"}
        %span.stats-label
          日記
        %span.stats-number
          #{@brother.entries.count}
          %span.stats-beans<>
            %i.icon<>
              &#63235;
            %span<>
              #{@beans.count}
    %li.stats-list
      %a.stats-content{href: "#{following_brother_path(@brother)}"}
        %span.stats-label
          兄弟
        %span.stats-number
          = @brother.followed_brothers.count + 1
    %li.stats-list
      %a.stats-content{href: "#{followers_brother_path(@brother)}"}
        %span.stats-label
          保護者
        %span.stats-number
          = @brother.followers.count
