- @brother ||= current_brother
%div.stats.clearfix
  %a.stat.entries-number{href: "/brothers/#{@brother.name}"}
    = @brother.entries.count
    %span.label 日記
  %a.stat.following{href: "#{following_brother_path(@brother)}"}
    = @brother.followed_brothers.count + 1
    %span.label 人兄弟
  %a.stat.follower{href: "#{followers_brother_path(@brother)}"}
    = @brother.followers.count
    %span.label 保護者
