- @brother ||= current_brother
%div.stats
  %a.stat.entries-number{href: "/brothers/#{@brother.name}"}
    %span.separate-border
      %span.number
        = @brother.entries.count
      %span.label
        日記
  %a.stat.following{href: "#{following_brother_path(@brother)}"}
    %span.separate-border
      %span.number
        = @brother.followed_brothers.count + 1
      %span.label
        人兄弟
  %a.stat.follower{href: "#{followers_brother_path(@brother)}"}
    %span.separate-border
      %span.number
        = @brother.followers.count
      %span.label
        保護者
  %span.stat.beans-count
    %span.number
      = @beans.count
    %span.label
      まめ
