= provide(:title, 'パスワード変更')
%h1.page-title
  パスワード変更
%h2
  = "パスワードの変更"
= form_for @brother, url: update_password_settings_path, method: "post" do |f|
  = render 'shared/error_messages', object: f.object
  = f.password_field :present_password, class: 'input input-text', placeholder: '現在のパスワード'
  = f.password_field :password, class: 'input input-text', placeholder: '新しいパスワード'
  = f.password_field :password_confirmation, class: 'input input-text', placeholder: '新しいパスワードもう一回お願いします !!'
  = f.submit "パスワードの変更", class: "button button-horizontal button-primary"
