= provide(:title, '神社')
%h1.page-title
  神社
%div#content
  = image_tag 'circus_tent.png', id: 'circus-tent-close', class: 'circus-tent', alt: '神社'
  = image_tag 'circus_tent_left_open.png', id: 'circus-tent-left-open', class: 'circus-tent', alt: '神社'
  %ul
    %li
      = link_to 'まめくじ', jinja_omikuji_path, class: 'button button-horizontal button-primary'
    %li
      = link_to 'お賽銭', jinja_path, class: 'button button-horizontal button-disabled'
    %li
      = link_to '屋台', 'http://minne.com/mameblo', class: 'button button-horizontal button-primary', target: '_blank'
