<%= provide(:title, 'サーカス') %>

<h1>ヤアヤアヤア！サーカスがくるらしいよ！</h1>

<p>サーカス見たい！？</p>

<p>サーカスみたい!!と意思表明された回数</p>
<% if @count.odd? %>
<strong><%= @count %></strong>回<br />
<% else %>
<%= @count %>回<br />
<% end %>

<%= button_to 'サーカス見たい!!' %>

<p>サーカス会場に集まってきたブラザー</p>
<% @participate_brother.each do |brother| %>
<ul class="brothers">
  <%= render brother %>
</ul>
<% end %>
