= provide(:title, '選挙')
%h1.title ??? 着たい ???
- num = rand(11) + 1
%section.vote{data:{tshirt: num}}
  = image_tag "votes/tshirts/tshirt#{num}.png", class: 'tshirt'
  = button_to "着たい !!!", action: 'create'
  = button_to "他のTシャツが見たい !!!", votes_path, method: 'get'
