= provide(:title, '選挙')
%h1.page-title
  ??? 着たい ???
= image_tag "votes/tshirts/tshirt7.png", class: 'tshirt'
17
= image_tag "votes/tshirts/tshirt2.png", class: 'tshirt'
16
= image_tag "votes/tshirts/tshirt3.png", class: 'tshirt'
14
= image_tag "votes/tshirts/tshirt1.png", class: 'tshirt'
13
= image_tag "votes/tshirts/tshirt8.png", class: 'tshirt'
12
= image_tag "votes/tshirts/tshirt10.png", class: 'tshirt'
12
= image_tag "votes/tshirts/tshirt11.png", class: 'tshirt'
11
= image_tag "votes/tshirts/tshirt4.png", class: 'tshirt'
10
= image_tag "votes/tshirts/tshirt9.png", class: 'tshirt'
10
= image_tag "votes/tshirts/tshirt6.png", class: 'tshirt'
9
= image_tag "votes/tshirts/tshirt12.png", class: 'tshirt'
8
= image_tag "votes/tshirts/tshirt5.png", class: 'tshirt'
7
