%div.editor
  %div.editor-wrapper
    %div.editor-content
      %div.page
        = form_for(current_brother.entries.build, url: entries_directs_path) do |f|
          = render 'shared/error_messages', object: f.object
          %div#entry_form.field
            = f.text_field :title, id: 'entry-form-title', class: 'input input-text'
            = f.text_area :content, id: 'entry-form-content', class: 'input input-textarea', rows: '4', placeholder: "!!! D豆 !!!"
            = f.submit "!!! 送信 !!!", data: { disable_with: "!!! 送信中 !!!" }, id: 'entry-form-submit', class: "button button-horizontal button-primary"
      %nav.nav-close
        %i.iconbutton.nav-editor-control<>
          &#10060;
