- provide(:title, "設定")
%h1.brother-name
  = @brother.name + " (#{@brother.email})"
%h2
  = "パスワードの変更"
= form_for(@brother) do |f|
  = render 'shared/error_messages', object: f.object
  = f.password_field :current_password, class: 'input input-text', placeholder: '現在のパスワード'
  = f.password_field :password, class: 'input input-text', placeholder: '新しいパスワード'
  = f.password_field :password_confirmation, class: 'input input-text', placeholder: '新しいパスワードもう一回お願いします !!'
  = f.submit "パスワードの変更", class: "button button-horizontal button-primary"

%h2
  = "メールアドレスの変更"
- if @brother.alter_email.present?
  = render 'form_for_verify_alter_email'
- else
  = render 'form_for_alter_email'
