- provide(:title, "設定")
%h1.brother-name
  = @brother.name
= form_for(@brother) do |f|
  = render 'shared/error_messages', object: f.object
  = f.password_field :password, class: 'input input-text', placeholder: 'Password'
  = f.password_field :password_confirmation, class: 'input input-text', placeholder: 'Passwordもう一回お願いします !!'
  = f.submit "パスワードの変更", class: "button button-horizontal button-primary"
