- provide(:title, "設定")
%section
  = form_for(@brother) do |f|
    = render 'shared/error_messages', object: f.object
    = @brother.name
    = @brother.email
    = f.password_field :password, placeholder: 'Password'
    = f.password_field :password_confirmation, placeholder: 'Passwordもう一回お願いします !!'
    = f.submit "メールアドレスの変更", class: "button red"
%section
  = link_to "サインアウト", signout_path, class: 'button gray', method: "delete"