= form_for(@brother) do |f|
  = render 'shared/error_messages', object: f.object
  %p.help
    ブラザーに仲間入りしよう!!!<br>まずは、まめぶろでの名前を決めてくれよ。<br>
    %span 英数字で入力してください!
    = f.text_field :name, placeholder: 'BrotherName'
  %p.help
    次にお前のメアドを教えてくれよ。<br>
    %span 英数字で6文字以上です!<br />いまのところ別にメールとかしません!
    = f.text_field :email, placeholder: 'MailAddress'
  %p.help
    パスワードはどうする?<br />
    %span 英数字で6文字以上です!
    = f.password_field :password, placeholder: 'Password'
  %p.help
    パスワードもう一回教えてくれる?
    = f.password_field :password_confirmation, placeholder: 'Confirmation'
  %p.help
    ブラザーになるか?
    = f.submit 'ブラザーになる!! (無料)', class: 'button signup yellow'