= provide(:title, @brother.name)
%h1.brother-name
  = @brother.name
= render 'shared/stats'
- if @brothers.any?
  %div#content{data: {max: {page: @brothers.num_pages}}}
    %ul.cards.autopager-content
      - @brothers.each do |brother|
        %div.card
          %a.card-content{href: "/brothers/#{brother.name}"}
            = brother.name
  = paginate @brothers
