= provide(:title, @brother.name)
%h1.brother-name
  = @brother.name
= render 'shared/stats'
= render 'follow_form' if signed_in?
- if @brother.entries.any?
  %div#content{data: {max: {page: @entries.num_pages}}}
    %article#entries
      - @entries.each do |entry|
        %section.entry
          %h1.entry-title= link_to entry.title, entry
          %div.entry-content= sanitize entry.content
          %span.beans-count{data: {beans: {count: entry.bean.count}}}
      = paginate @entries
