= provide(:title, @brother.name)
= render 'shared/entry_form' if signed_in?
%h1.brother-name
  = @brother.name
= render 'shared/stats'
= render 'follow_form' if signed_in?
- if @brother.entries.any?
  = render 'shared/entries'
