= provide(:title, @brother.name)
%h1.brother-name
  = @brother.name
= render 'shared/stats'
- if @brothers.any?
  %div#content{data: {max: {page: @brothers.num_pages}}}
    %ul.brothers.autopager-content
      = render @brothers
  = paginate @brothers
