= provide(:title, @brother.name)
%h1.brother-name
  = @brother.name
= render 'shared/stats'
- if @brothers.any?
  %div#content{data: {max: {page: @brothers.num_pages}}}
    %ul#content.brothers
      = render @brothers
  = paginate @brothers