= provide(:title, @brother.name)
%h1.brother-name
  = @brother.name
= render 'shared/stats'
= render 'follow_form' if signed_in?
- if @brother.entries.any?
  %div#content{data: {max: {page: @entries.num_pages}}}
    %article#entries
      = render @entries
  = paginate @entries