<% provide(:title, @brother.name) %>
<p class="help">
  <%= render 'shared/stats' %><br />
  <b class="brothername"><%= @brother.name %></b>の<%= @brother.entries.count %>つの記事<br />
  <%= render 'follow_form' if signed_in? %>
</p>
<% if @brother.entries.any? %>
<%= render @entries %>
<%= will_paginate @entries %>
<% end %>