<header id="header">
  <h1><%= link_to root_path do %><%= image_tag 'brothers.png', alt: 'まめぶろ' %><% end %></h1>
  <nav>
    <ul>
    <% if signed_in? %>
      <li><%= link_to current_user.name, current_user %></li>
      <li><%= link_to "Users", users_path %></li>
      <li><%= link_to "Settings", edit_user_path(current_user) %></li>
      <li><%= link_to "SignOut", signout_path, method: "delete" %></li>
    <% else %>
    <% end %>
    </ul>
  </nav>
</header>