<header id="header">
  <h1>
    <%
      num = rand(2)
      brothers_source = 'brothers' + num.to_s() + '.png'
    %>
    <%= image_tag brothers_source, alt: 'まめぶろ' %>
  </h1>
  <nav>
    <ul>
    <% if signed_in? %>
      <li><%= link_to "書く", root_path, class: 'button blue' %></li>
      <li><%= link_to current_user.name, current_user, class: 'button yellow' %></li>
      <li><%= link_to "ブラザーズ", users_path, class: 'button green' %></li>
      <li><%= link_to "設定", edit_user_path(current_user), class: 'button red' %></li>
    <% else %>
      <li><%= link_to "サインイン", signin_path, class: 'button blue' %></li>
      <li><%= link_to "はじめる", signup_path, class: 'button yellow' %></li>
    <% end %>
    </ul>
  </nav>
</header>
<div id="maintenance-info">
  <a href="https://www.google.co.jp/search?num=10&hl=ja&site=imghp&tbm=isch&q=%E7%88%86%E7%99%BA&oq=%E7%88%86%E7%99%BA" target="_blank">
    <img src="http://explosion.jpg.to/" />
  </a>
  <p class="title">まめぶろ爆発のお知らせ</p>
  <p class="time">8月22日(水) 10:00～15:00</p>
  <p class="body">メンテナンスのため、上記の時間にまめぶろが一時爆発します。ブラザーの皆様にはたいへんご迷惑おかけいたしますが、何卒ご了承いただきますようお願いいたします。
  </p>
</div>