%header#header
  %nav#navs
    %ul
      - if signed_in?
        %li.nav
          = link_to "神社", jinja_path
        %li.nav.nav-writes
          = link_to "近況", root_path, class: 'lsf-icon', title: 'write'
        %li.nav.nav-entries
          = link_to current_brother.name, current_brother, class: 'lsf-icon', title: 'home'
        %li.nav.nav-brothers
          = link_to "ブラザーズ", brothers_path, class: 'lsf-icon', title: 'web'
        %li.nav.nav-votes
          = link_to "選挙", votes_path, class: 'lsf-icon', title: 'like'
        %li.nav.nav-settings
          = link_to "設定", edit_brother_path(current_brother), class: 'lsf-icon', title: 'setting'
      - else
        %li.nav.nav-signin
          = link_to "サインイン", signin_path, class: 'lsf-icon', title: 'in'
        %li.nav.nav-signup
          = link_to "はじめる", signup_path, class: 'lsf-icon', title: 'onsen'
  %h1#brand
    = image_tag "brand.png", alt: 'まめぶろ'
