<header id="header">
  <h1><%= image_tag 'brothers.png', alt: 'まめぶろ' %></h1>
  <nav>
    <ul>
    <% if signed_in? %>
      <li><%= link_to "書く", root_path, class: 'button blue' %></li>
      <li><%= link_to current_user.name, current_user, class: 'button yellow' %></li>
      <li><%= link_to "ブラザーズ", users_path, class: 'button green' %></li>
      <li><%= link_to "設定", edit_user_path(current_user), class: 'button red' %></li>
    <% else %>
      <li><%= link_to "サインイン", signin_path, class: 'button blue' %></li>
      <li><%= link_to "はじめる", signup_path, class: 'button yellow' %></li>
    <% end %>
    </ul>
  </nav>
</header>
