%header#header
  %h1#brand
    = image_tag "brand.png", alt: 'まめぶろ'
  %nav#navs
    %ul
      - if signed_in?
        %li.nav.nav-brothers
          = link_to "みんな", root_path
        %li.nav.nav-home
          = link_to "わたし", current_brother
        %li.nav.nav-jinja
          = link_to "神社", jinja_path
        %li.nav.nav-setting
          = link_to "設定", edit_brother_path(current_brother)
      - else
        %li.nav.nav-signin
          = link_to "サインイン", signin_path
        %li.nav.nav-signup
          = link_to "はじめる", signup_path
