<header id="header">
  <h1>
    <%
      num = rand(2)
      brothers_source = 'brothers' + num.to_s() + '.png'
    %>
    <%= image_tag brothers_source, alt: 'まめぶろ' %>
  </h1>
  <nav>
    <ul>
    <% if signed_in? %>
    <li><%= link_to "サーカス", circuses_path, class: 'button yellow' %></li>
      <li><%= link_to "書く", root_path, class: 'button blue' %></li>
      <li><%= link_to current_brother.name, current_brother, class: 'button yellow' %></li>
      <li><%= link_to "ブラザーズ", brothers_path, class: 'button green' %></li>
      <li><%= link_to "設定", edit_brother_path(current_brother), class: 'button red' %></li>
    <% else %>
      <li><%= link_to "サインイン", signin_path, class: 'button blue' %></li>
      <li><%= link_to "はじめる", signup_path, class: 'button yellow' %></li>
    <% end %>
    </ul>
  </nav>
</header>
