!!!
%html{ lang: "ja", dir: "ltr" }
  :erb
      <!--
                  @@@@'       ,@@@@`
                :@@@@@@@     @@@@@@@+
               .@@     @@   @@.    +@;
               @@       @# ,@.      @@
              ,@        #@ @@        @+
              @@         @,@.        @@
              @'         @@@         .@
              @          @@@          @:
          ;@@;@          ;@#          @@#@'
         #@@@@@  `;   @   @;  @`  ,,  @@@@@@
         @#  @@  @@  @@+  @` .@@  @@  @@  :@`
        ;@   ,;  #@  `@       @,  @@  .'   @#
        @@                                 @@
        @@                                 @@
        @@                                 +@
        @@                                 +@
        @@                                 +@
        @@                                 @@
        @@                                 @@
        ,@   ++   #@ `@       @; @@   ,@   @#
         @#  @@   .@@@@   @.  @@@@+   @@` '@
         '@@@@@    .@#    @;   '@:    @@@@@#
          `+';@          ;@@          @#;#.
              @          @@@          @,
              @+         @@@         ,@
              @@         @.@,        @@
              .@`       @@ @@        @'
               @@      `@' .@;      @@
               `@@    .@@   @@;    @@,
                .@@@@@@@     @@@@@@@;
                  '@@@.       `@@@+
      -->
  %head
    %meta{ charset: "UTF-8" }
    %meta{ name: "viewport", content: "width=device-width,initial-scale=1.0" }
    %meta{ name: "keywords", content: "まめぶろ,mameblo,mameblog,ブラザー,かわいい" }
    %meta{ name: "description", content: "かわいいブログ。まめぶろ。" }
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = render 'layouts/shim'
    = favicon_link_tag "/favicon.png"
    = favicon_link_tag "/apple-touch-icon.png", rel: 'apple-touch-icon', type: 'image/png', sizes: '114x114'
  %body
    = render 'layouts/header'
    = render 'shared/entry_form' if signed_in?
    %div.page
      - flash.each do |key, value|
        %div(class = "alert alert-#{key} wow flipInX"){data:{wow:{iteration: '3', duration: '0.1s'}}}
          %p= value
      %article.contents
        = yield
      = render 'layouts/footer'
