<!DOCTYPE html>
<!--
.___  ___.      ___      .___  ___.  _______ 
|   \/   |     /   \     |   \/   | |   ____|
|  \  /  |    /  ^  \    |  \  /  | |  |__   
|  |\/|  |   /  /_\  \   |  |\/|  | |   __|  
|  |  |  |  /  _____  \  |  |  |  | |  |____ 
|__|  |__| /__/     \__\ |__|  |__| |_______|
                                             
.______    __        ______     _______ 
|   _  \  |  |      /  __  \   /  _____|
|  |_)  | |  |     |  |  |  | |  |  __  
|   _  <  |  |     |  |  |  | |  | |_ | 
|  |_)  | |  `----.|  `--'  | |  |__| | 
|______/  |_______| \______/   \______|  version 2.0.0
                                        
-->
<html lang="ja" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=320">
    <meta name="keywords" content="まめぶろ,mameblo,mameblog">
    <meta name="description" content="かわいいブログ。まめぶろ。">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <div id="content">
      <%= render 'layouts/header' %>
      <article>
        <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <p><%= value %></p>
        </div>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
      </article>
    </div>
    <%= render 'layouts/footer' %>
  </body>
</html>
